{% extends 'base.html' %}

{% block 'content' %}
{%load static%}

<div class="container">
    
    <div class="shadow p-3 mb-5 bg-body rounded">
      <h2>Tenemos una super oferta para ti. Accede a beneficios</h2>
      <p>
        <form action=""></form>
        <a class="btn btn-secondary" href="/contacto" role="button">Formulario de Contacto</a>
      </p>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {%for f in flanes%}
        <div class="col">
          <div class="card">
            <img src="{{f.image_url}}" class="card-img-top"
            alt="Foto Flan no disponible" />
            <div class="card-body">
              <h5 class="card-title">{{f.name}}</h5>
              <p class="card-text">
                {{f.description}}
              </p>
            </div>
          </div>
        </div>
        {%endfor%}
             
    </div>
</div>
{% endblock %}